.w3-2017-greenery
{color:#fff;background-color:#92B558}
.w3-2017-grenadine
{color:#fff;background-color:#DC4C46}
.w3-2017-tawny-port
{color:#fff;background-color:#672e3b}
.w3-2017-ballet-slipper
{color:#000;background-color:#f3d6e4}
.w3-2017-butterum
{color:#fff;background-color:#c48f65}
.w3-2017-navy-peony
{color:#fff;background-color:#223a5e}
.w3-2017-neutral-gray,.w3-2017-neutral-grey
{color:#fff;background-color:#898e8c}
.w3-2017-shaded-spruce
{color:#fff;background-color:#005960}
.w3-2017-golden-lime
{color:#fff;background-color:#9c9a40}
.w3-2017-marina
{color:#fff;background-color:#578CA9}
.w3-2017-autumn-maple
{color:#fff;background-color:#d2691e}
.w3-2017-niagara
{color:#fff;background-color:#578CA9}
.w3-2017-primrose-yellow
{color:#000;background-color:#f6d155}
.w3-2017-lapis-blue
{color:#fff;background-color:#004b8d}
.w3-2017-flame
{color:#fff;background-color:#f2552c}
.w3-2017-island-paradise
{color:#000;background-color:#95dee3}
.w3-2017-pale-dogwood
{color:#000;background-color:#edcdc2}
.w3-2017-pink-yarrow
{color:#fff;background-color:#ce3175}
.w3-2017-kale
{color:#fff;background-color:#5a7247}
.w3-2017-hazelnut
{color:#000;background-color:#cfb095}

.w3-signal-yellow
{color:#fff;background-color:#f7ba0b}

.w3-signal-orange
{color:#fff;background-color:#d4652f}

.w3-signal-red
{color:#fff;background-color:#a02128}

.w3-signal-violet
{color:#fff;background-color:#904684}

.w3-signal-blue
{color:#fff;background-color:#154889}

.w3-signal-green
{color:#fff;background-color:#317f43}

.w3-signal-grey
{color:#fff;background-color:#9b9b9b}

.w3-signal-brown
{color:#fff;background-color:#7b5141}

.w3-signal-white
{color:#000;background-color:#f4f4f4}

.w3-signal-black
{color:#fff;background-color:#282828}
